  /*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */
  /* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
  /*
  * What follows is the result of much research on cross-browser styling.
  * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
  * Kroc Camen, and the H5BP dev community and team.
  */
  /* ==========================================================================
  Base styles: opinionated defaults
  ========================================================================== */
  /* ==========================================================================
  Author's custom styles
  ========================================================================== */
  .navbar {
    background-color: #101010;
    }

    .description {
    text-align: center;
    font-size: large;
    font-weight: bold;
    }

    body {
    width: 100%;
    height: 100%;
    background-color: #101010;
    color:gold;    
    }

    /* Column Styling */
    #columns {
    padding-left: 20px;
    padding-right: 30px;
    column-gap: 10px;
    }

    /* Column 1 Content */
    #columnOne {
    border-radius: 5px;
    border: 1px solid gold;
    background-color: #101010;
    margin-top: 50px;
    }
    
    #searchButton {
    background-color: gold;
    }

    .searchResultButton {
      overflow-wrap: break-word;
    }

    #searchResultStyling {
      cursor: pointer;
      font-family: Arial, Helvetica, sans-serif;
      margin-bottom: 5px;
      border: 1px solid white;
      border-radius: 5px;
      background-color: gold;
      color: black;
      font-weight: 600;
      text-align: center;
    }

    /* Column 2 Content */
    #columnTwo {
    border-radius: 5px;
    border: 1px solid gold;
    background-color: #101010;
    color: gold;
    margin-top: 50px;
    text-align: center;
    }

    #tmdbDisplayPicture {
    margin-top: 10px;    
    }

    #pictureMovie {
    border: 1px solid gold; 
    border-radius: 5px; 
    }

    #nytDisplayOpeningDate{
    margin-bottom: 10px;
    }
    
    #trailerMovie {
    border: 1px solid gold;
    border-radius: 5px;
    }

    #nytDisplaySummaryShort {
    margin-top: 10px;
    }

    #nytDisplayArticle {
    margin-top: 20px;
    }

    #titleSaveToCarousel{
    margin-top: 20px;
    }

    /* Carousel Styling */
    h2 {
    text-align: center;
    padding-top: 50px;
    font-size: 50px;
    }

    #slideshow {
    box-sizing: border-box;
    }

    .slick-next, .slick-prev {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0,-50%);
    -ms-transform: translate(0,-50%);
    transform: translate(0,-50%);
    cursor: pointer;
    color: gold;
    border: none;
    outline: 0;
    background: 0 0;
    }

    .slick-prev:before, .slick-next:before {
    color: gold;
    }

    .slick-dots li button:before {
    color: gold;
    }

    .slider {
    width: 50%;
    margin: 100px auto;
    }

    .slick-slide {
    margin: 0px 20px;
    }

    .slick-slide img {
    width: 100%;
    }

    .slick-slide {
    transition: all ease-in-out .3s;
    opacity: .2;
    }

    .slick-active {
    opacity: .5;
    }

    .slick-current {
    opacity: 1;
    }

    .slick-prev:before, .slick-next:before {
    color: gold;
    }

    .slick-dots li button:before {
    color: gold;
    }

    .slick-dots li.slick-active button:before {
    opacity: .75;
    color: gold;
    }  

    .slider {
    width: 50%;
    margin: 100px auto;
    }

    .slick-slide {
    margin: 0px 20px;
    }

    .slick-slide img {
    width: 100%;
    }

    .slick-slide {
    transition: all ease-in-out .3s;
    opacity: .2;
    }

    .slick-active {
    opacity: .5;
    }

    .slick-current {
    opacity: 1;
    }

    /* Footer Styling */
    .footer {
      background-color: gold;
      border-top: 3px solid white;
      padding: 2rem 1rem 4rem !important;
    }